/* reset */
html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input,hr {margin:0; padding:0;}
h1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,code,em,strong,th {font-size:1em; font-weight:normal; font-style:normal;}
ul,ol {list-style:none;}
fieldset,img,hr {border:none;}
caption,th {text-align:left;}
table {border-collapse:collapse; border-spacing:0;}
td {vertical-align:top;}
/* reset ends */

body {
    font-family: 'Anonymous Pro', Arial, sans-serif;
    font-size: 14px;
    line-height: 14px;
}
input[type="text"] {
     padding: 0 10px;     
     -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
     -moz-box-sizing: border-box;    /* Firefox, other Gecko */
     box-sizing: border-box;
}
input[type="text"]:focus {
    background: #ccc;
    
    -webkit-transition: background-color 0.5s linear;
    -moz-transition: background-color 0.5s linear;
    -o-transition: background-color 0.5s linear;
    transition: background-color 0.5s linear;
}


ul {
    margin: 10px;
}
li {
    margin: 2px 5px ;
    /* 
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s
    -o-transition: opacity 1s;
    transition: opacity 1s;
    */
}

.border {
    border: 2px solid black;
    border-radius: 2px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
     -moz-box-sizing: border-box;    /* Firefox, other Gecko */
     box-sizing: border-box;
}

.wrapper {
    margin: 50px auto;
    width: 800px;
    height: 600px;    
}

.container {
    margin: 20px auto;
    width: 760px;
    height: 600px;
}
.messages {
    width: 100%;
    height: 440px;
    overflow-y: scroll;
}

.input {
    display: block;
    width: 100%;
    height: 40px;
    margin-top: 20px;    
}

.send {
    margin-top: 20px;
    float: right;
    width: 100px;
    height: 40px;
}

.send span {
    display: block;
    padding: 10px 0 0 22px;
    font-size: 24px;
}

.username {
    margin-top: 20px;
    float: left;
    width: 120px;
    height: 40px;
}
